body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
}

a#hide-button{
    position: absolute;
    top: 0;
    right: 0;
    float:right;
    width:26px;
    height:26px;
    top left;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-top:0px;
    margin-right:0px;
    cursor:pointer;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 4px;
    font-weight: bold;
    z-index: 2;
}

#debug {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255,255,255,0.7);
	border: 1px solid #ddd;
	padding: 10px;
	z-index: 10000;
	font: 12px/1.4 Verdana, sans-serif;
    width: 170px;
    z-index: 1;
}
#trace {
	margin-top: 10px;
	font: 10px/1 Verdana, sans-serif;
}
#trace table {
	margin-top: 3px;
}
#mapnik {
	margin-bottom: 10px;
}
table {
	border-collapse: collapse;
}
table td {
    padding-right: 10px;
}

#trace .tileIndex {
	font-weight: bold;
}

td.time {
	text-align: right;
}
